<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="../static/bigday/css/main.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8">
        <style>

            #img_analysis{
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 50%; display: block;
              
              margin-bottom: 25px;
            }
        </style>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    
<!---Bootstrap’s compiled CSS and JS-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-custom navbar-fixed-top">
          <div class="container">
              <div class="navbar-header">
                  <a href="http://127.0.0.1:8000">
                    <img class="navbar-header img-responsive" src="../static/bigday/images/restaurant_logo.png" alt="Food High">
                  </a>
              </div>
              <ul class="nav navbar-nav navbar-right">   
                <li><a href="demo1.html">Report 1</a></li>
                <li><a href="demo1.html#report_2">Report 2</a></li>
                <li><a href="index.html">Report 3</a></li>
                <li><a href="index_3.html">Report 4</a></li>
                <li><a href="index_2.html">Report 5</a></li> 
                <li><a href="index_6.html">Report 6</a></li>   
              </ul>      
          </div>
         </nav>
      
        <div class="header1">
        <div id="img_analysis">
          <img border="10px black" src="⁩books_read.png" alt="name" align="middle"  width="600" height="400" />
        </div >
    </div>
       

        <div class="header1" id="report_2">
        <div id="img_analysis" >
          <img border="10px black" src="days_of_order_in_a_week.png" align="middle" alt="abc" width="600" height="400" />
        </div>
        </div>

     <script type="text/javascript" src="../static/bigday/js/main.js"></script>   
    </body>
</html>
