 <link href="../static/bigday/css/main.css" rel="stylesheet"?>
 <script type="text/javascript" src="../static/bigday/js/main.js"></script>
 <link href="css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

 <body>

 <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                    <a href="http://127.0.0.1:8000">
                        <img class="navbar-header img-responsive" src="../static/bigday/images/restaurant_logo.png" alt="Food High">
                      </a>
            </div>
            <ul class="nav navbar-nav navbar-right">   
              <li><a href="demo1.html">Report 1</a></li>
              <li><a href="demo1.html#report_2">Report 2</a></li>
              <li><a href="index.html">Report 3</a></li>
              <li><a href="index_3.html">Report 4</a></li>
              <li><a href="index_2.html">Report 5</a></li>  
              <li><a href="index_6.html">Report 6</a></li>  
            </ul>      
        </div>
       </nav>

 <div class="header1">
        <iframe src="https://docs.google.com/gview?url=http://remote.url.tld/path/to/document.doc&embedded=true"></iframe>
        </iframe>

 </div>

</body>